.header__logo {
    width: 142px;
    height: 33px;
    margin: 0;
    margin-bottom: 41px;
}

.header__logo:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.1s ease;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 103px;
        height: 24px;
        margin-left: 29px;
        margin-bottom: 31px;
    }
}