.profile__info {
    margin: auto calc(100% - (880px - 251px)) auto 30px;
    width: 336px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

@media screen and (max-width: 1023px) {
    .profile__info {
        margin: 26px 0 36px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}