.page {
    background-color: #000000;
    font-family: 'Inter', Arial, sans-serif;
    max-width: 1280px;
    padding: 0;
    padding-top: 45px;
    padding-bottom: 60px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .page {
        padding-top: 28px;
        padding-bottom: 36px;
    }
}