.profile__edit-button {
    background-color: black;
    border: 1px solid white;
    width: 24px;
    height: 24px;
    padding: 0;
    outline: none;
    direction: none;
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: opacity 0.1s ease;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin: 0;
        margin-left: 10px;
    }
}