.header__email {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0 24px 0 0;
}

@media screen and (max-width: 767px) {
  .header__email {
    visibility: hidden;
    width: 0;
  }
}