
@import url('./__delete/element__delete.css');
@import url('./__delete/_active/element__delete_active.css');
@import url('./__image/element__image.css');
@import url('./__like-amount/element__like-amount.css');
@import url('./__like-container/element__like-container.css');
@import url('./__like/element__like.css');
@import url('./__like/_active/element__like_active.css');
@import url('./__name/element__name.css');
@import url('./__picture/element__picture.css');
@import url('./__text-container/element__text-container.css');

.element {
    width: 282px;
    height: 361px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
}