.element__name {
    font-style: normal;
    font-weight: 900;
    max-width: 222px;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}