.popup__save {
    
    background-color: black;
    border: none;
    color: white;
    opacity: 1;
    border-radius: 2px;
    padding: 0;
    width: calc(100% - 36px*2);
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 18px auto 37px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.popup__save:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.1s ease;
}

@media screen and (max-width: 767px) {
    .popup__save {
        width: 238px;
        height: 46px;
        margin: 0 22px 25px;
    }
}